* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li,
ol li {
	list-style: none;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: inherit;
}

input:focus {
	outline: none;
}
