.nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f9f9f9;
	border-top: var(--main-border);
	padding: 15px 30px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__btn {
	opacity: 0;
	transform: translateY(10px);
	will-change: transform;
	animation: showUp 1s forwards;
}

.nav__btn:nth-child(2) {
	animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
	animation-delay: 0.4s;
}

.nav__btn:last-child {
	animation-delay: 0.6s;
}

@keyframes showUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__link {
	position: relative;
	color: #333;
	font-size: 20px;
}

.nav__noti {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	animation: nofiSpinner 2s linear infinite;
}

@keyframes nofiSpinner {
	0% {
		transform: translate(50%, -50%) rotateY(0);
	}
	50% {
		transform: translate(50%, -50%) rotateY(180deg);
	}
	100% {
		transform: translate(50%, -50%) rotateY(360deg);
	}
}
